*.npz
*.png
*.txt
*.pth
*.m
*.cc
*.mat
*.mexa64
*.mexmaci64
*.h
*.log
*.out
*.pyc
*.cpython-38.pyc
*.xml
*.jpg
ExtendedMTL4Pain/__pycache__/McMasterDataset.cpython-38.pyc
ExtendedMTL4Pain/__pycache__/vgg_face.cpython-38.pyc
